<div class="users">

  <div class="user" *ngFor="let user of users">
    <img [src]="user.img" />
    <div class="info-wrapper">
      <div class="user-name">
        {{ user.name }}
      </div>

      <div class="user-id-username">
        ID: {{user.id}} - Username: {{user.username}}
      </div>
    </div>

    <button (click)="selectUserToPay(user)" type="button" class="pay-button">
      Pagar
    </button>
  </div>
</div>

<div class="overlay" [class.hidden]="disabledModal">

  <div class="modal-backdrop" (click)="activedModal()"></div>
  <div class="modal">
    <div class="title" innerHTML="{{ titleModal }}"></div>
    <!-- step1 -->
    <div class="content" [class.hidden]="sendCash">
      <input type="text" currencyMask required [(ngModel)]="cashSend" placeholder="R$ 0,00" />
      <div class="cards">
        <select [(ngModel)]="selectCard">
          <option *ngFor="let card of listCard; index as i" value="{{ i }}">Cartão com final
            {{(card.card_number).substr(13,3)}}</option>
        </select>
      </div>

      <button type="button" (click)=sendInfo(selectCard) class="pay-button">
        Pagar
      </button>
    </div>
    <!-- step2 -->
    <div class="content" [class.hidden]="!sendCash" innerHTML="{{ descModal }}">
    </div>
  </div>

</div>

<div class="content" [class.hidden]="!ocultItem">
  <span>picpay-desafio-frontend app is running!</span>
</div>